<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Alphashack.Graphdat.Agent.SqlTrace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Please see the README.md (https://github.com/alphashack/NET_graphdat/blob/feature-sqltrace/GraphdatSqlTrace/README.md) file for an explanation of the configuration
    <add name="Alphashack.Graphdat.Agent.SqlTrace.Properties.Settings.Instance01"
      connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Alphashack.Graphdat.Agent.SqlTrace.Properties.Settings.Database01"
      connectionString="Data Source=.;Initial Catalog=testing;Integrated Security=True"
      providerName="System.Data.SqlClient" />
      -->
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Alphashack.Graphdat.Agent.SqlTrace.Properties.Settings>
      <setting name="Port" serializeAs="String">
        <value>26873</value>
      </setting>
      <setting name="Source" serializeAs="String">
        <value>SqlServer</value>
      </setting>
      <setting name="SqlTraceReaderWorkerLoopSleep" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SqlTraceManagerWorkerLoopSleep" serializeAs="String">
        <value>10000</value>
      </setting>
    </Alphashack.Graphdat.Agent.SqlTrace.Properties.Settings>
  </applicationSettings>
</configuration>
