<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alphashack.Graphdat.Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Alphashack.Graphdat.Agent.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>26873</value>
            </setting>
            <setting name="Source" serializeAs="String">
                <value>ASP.NET</value>
            </setting>
            <setting name="Suppress_ContextPopAutomatic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_BeginContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_EndContext" serializeAs="String">
                <value>False</value>
            </setting>
        </Alphashack.Graphdat.Agent.Properties.Settings>
    </applicationSettings>
</configuration>